@use "src/App" as app;

.img {
  width: 10%;
  height: 10%;
}

.secondhand-container {
  display: flex;
  height: auto;
  margin-top: 10vh;
}

.section-sort {
  height: auto;
  width: 20%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: app.$elementColor;
}

.section-car-list {
  height: 100%;
  width: 80%;
  display: flex;
}

.car-list {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.car-details {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.car-image {
  width: 80%;
  height: 50%;
  object-fit: cover;
}

.price, .year, .km {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  label {
    font-size: 20px;
  }
}

.sort-input {
  width: 80%;
}

.car-item h3 {
  margin: 0;
}

.shc-button {
  height: 50px;
  width: 150px;
  border-radius: 12px;
  margin-top: 12px;
  background-color: app.$buttonColor;
  color: app.$mainFontColor;
  border-color: app.$mainFontColor;
  font-family: app.$mainFont;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  a {
    text-decoration: none;
  }
}