@use "src/App" as app;


@media screen and (max-width: 700px) {
  .secondhand-container {
    flex-direction: column;
    height: auto;

  }

  .car-list {
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .car-item {
    height: 35vh;
    width: 40vh;
    padding: 10px;
    margin-bottom: 10px;
  }

  .section-car-list {
    height: auto;
    width: 100vw;
  }

  .section-sort {
    height: auto;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: app.$elementColor;
  }

}

@media screen and (min-width: 701px) {
  .secondhand-container {
    max-height: calc(75vh - 20px);
    flex-direction: row;
  }
 
  .section-car-list {
    height: auto;
    width: 80%;
    padding: 20px;
    overflow-y: auto;
  }

  .car-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .car-item {
    height: 45vh;
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
  }
  

  .section-sort {
    height: auto;
    width: 20%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: app.$elementColor;
  }

}

.secondhand-container {
  display: flex;
  margin-top: 10vh;
}

.section-sort {
  height: auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: app.$elementColor;
}

.section-car-list {
  display: flex;
  justify-content: center;
}

.car-item {
  display: flex;
  flex-direction: column;
  background-color: app.$elementColor;
  border-radius: 12px;
}

.car-details {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.car-image {
  width: 80%;
  height: 50%;
  object-fit: contain;
}

.secondhand-car-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;

}

.secondhand-car-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  font-size: 15px;
  p {
    padding: 0;
    margin: 4px;
  }
  
}

.price, .year, .km {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  label {
    font-size: 20px;
  }
}

.sort-input {
  width: 80%;
}

.car-item h3 {
  margin: 0;
}

.shc-button {
  height: 50px;
  width: 150px;
  border-radius: 12px;
  margin-top: 12px;
  background-color: app.$buttonColor;
  color: app.$mainFontColor;
  border-color: app.$mainFontColor;
  font-family: app.$mainFont;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  a {
    text-decoration: none;
  }
}