@use "../../App" as app;

li.footer-list-elt {
  list-style: none;
 
}
ul {
  margin: 0;
  padding: 0;
}

// mobile
@media screen and (max-width: 768px) {
  .my-footer {
    height: auto;
    width: 100vw;
    background-color: app.$bar-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 20px 0px;
  }

  .footer-schedule-container {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .footer-schedule-container {
    display: flex;
    justify-content: center;
  }  

  .contact-section-footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-logo, .footer-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-btn {
    margin-bottom: 10px;
  }

  .footer-logo {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo > p {
    font-size: 10px;
    margin: 3px 0px 0px 0px;
  }

  .contact-btn {
    height: 15px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    background-color: app.$button-color;
  }

  .footer-contact-btn {
    height: 45px;
    width: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: none;
    padding: 10px;
    font-size: app.$button-mobile-font-size;
    background-color: app.$button-color;
  }


  .contact-btn-text {
    margin-left: 5px;
  }

  .contact-btn-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .footer-logo > img {
    width: 100px;
    height: 47px;
  }

}

@media screen and (min-width: 769px) {
  .my-footer{
    height: 200px;
    width: 100vw;
    background-color: app.$bar-color;
    display: flex;
    padding: 10px 0 10px 0;
  }

  .footer-schedule-container {
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }  

  .contact-section-footer {
    width: 77.77%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .footer-btn, .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  .logo-footer {
    width: 250px;
    height: 120px;
  }

  .footer-contact-btn {
    height: 63px;
    width: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: none;
    padding: 10px;
    font-size: app.$button-desktop-font-size;
    background-color: app.$button-color;
  }

  .contact-btn-text {
    margin-left: 15px;
  }

  .contact-btn-title {
    margin-bottom: 20px;
  }

  .footer-logo > img {
    width: 200px;
    height: 87px;
  }
  
  .footer-logo {
    flex-direction: column;
  }

}