.FeedbackList {
  height: 80%;
  width: 30vh;
  background-color: #293045;
  color: white;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;

  .FeedbackListName {
    font-size: calc(15px + 0.390625vw);
    font-weight: bold;
  }
  .FeedbackListText {
    font-size: calc(11px + 0.390625vw);
  }
  
  .FeedbackListGrade {
    display: inline-flex;
  }

}
