@use 'src/App.scss' as app;

.add-service-modal {
  font-size: 22px;
  background-color: app.$elementColor;
}
.add-service-modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.add-service-modal > .content {
  height: auto;
  width: 100%;
  padding: 10px 5px;
}
.add-service-modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.add-service-modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}