@use 'src/App.scss' as app;

$widthBigElement: 20%;
$widthLittleElement: 20%;

@media screen and (max-width: 768px) {
  .admin-feedback {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 70%;
    overflow-y: auto;
    background-color: app.$elementColor;
  }

  .admin-feedback-list-button {
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 10px;
  }

}

@media screen and (min-width: 769px) {
  .admin-feedback {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-height: 70%;
    overflow-y: auto;
    background-color: app.$elementColor;
  }

  .admin-feedback-list-button {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
}

.admin-feedback-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.admin-feedback-categorie-row {
  height: 5%;
  margin-top: 2px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: app.$buttonColor;
}

.admin-feedback-categorie-element {
  width: $widthBigElement;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px 12px 0px 0px;
}

.admin-feedback-list-row {
  display: flex;
  min-height: 80px;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  border: 2px solid white ;
  margin-bottom: 2px;
}

.admin-feedback-list-element {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  height: auto;
  width: $widthBigElement;
}

