@use 'src/App.scss' as app;

$widthBigElement: 20%;
$widthLittleElement: 20%;

.admin-feedback-container {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.admin-feedback {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  max-height: 70%;
  background-color: app.$elementColor;
}

.admin-feedback-categorie-row {
  height: 5%;
  margin-top: 2px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: app.$buttonColor;
}

.admin-feedback-categorie-element {
  width: $widthBigElement;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px 12px 0px 0px;
}

.admin-feedback-list-row {
  display: flex;
  min-height: 80px;
  height: auto;
  width: calc(100% - 4px);
  align-items: center;
  justify-content: space-around;
  border: 2px solid white ;
  margin-bottom: 2px;
}

.admin-feedback-list-element {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  height: auto;
  width: $widthBigElement;
}

.admin-feedback-list-button {
  height: 40px;
}