@use 'src/App.scss' as app;

.validate-modal {
  font-size: 22px;
  background-color: app.$elementColor;
}

.validate-modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  text-align: center;
  padding: 5px;
}
.validate-modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.validate-modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;

}
.validate-modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.content {
  display: flex;
  flex-direction: column;
  input {
    width: 80%;
  }
}

.add-employe-popup-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: app.$buttonColor;
  color: aliceblue;
  
  width: 150px;
  height: 50px;
}
