@use "src/App" as app;

@media screen and (max-width: 700px) {
  .section-container-v1 {
    flex-direction: column;
   
  }
  .section-container-v2 {
    flex-direction: column-reverse;
  }

  .left-section-v1, .right-section-v1, .left-section-v2, .right-section-v2 {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-section-v1 {
    flex-direction: column;
  }

  .left-section-v2 {
    flex-direction: column;
  }
}

@media screen and (min-width: 701px) {
  .section-container-v1, .section-container-v2 {
    flex-direction: row; 
  }
   
  .left-section-v1, .left-section-v2, .right-section-v1, .right-section-v2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-section-v1, .left-section-v2 {
    flex-direction: column;
  }

}

.section-container-v1, .section-container-v2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  color: app.$mainFontColor;
}

.service-list {
  background-color: app.$buttonColor;
  padding: 0.5em;
  height: auto;
  border-radius: 12px;
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}

.homeImg {
  width: 100%;  
}

.light-section {
  background-color: app.$elementColor;
}


// scrollbar  of services
.serviceList::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: aliceblue;
	border-radius: 10px;
}

.serviceList::-webkit-scrollbar
{
	width: 10px;
	background-color: #484848;
}

.serviceList::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(59, 100, 182)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}