@use "src/App" as app;

.img {
  width: 10%;
  height: 10%;
}

.container {
  display: flex;
  height: 100%;
}

.section-sort {
  height: 100%;
  width: 20%;
  border-radius: 12px;
  background-color: app.$elementColor;
}

.section-car-list {
  height: 100%;
  width: 80%;
  display: flex;

}

.car-list {
  padding: 10px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.car-item {
  width: calc(30% - 20px); /* Ajustez la largeur selon vos besoins */
  border: 1px solid #aa7d7d;
  background-color: app.$buttonColor;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-details {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.car-image {
  width: 80%;
  height: 50%;
  object-fit: cover;
  object-position: bottom;
}

.car-item h3 {
  margin: 0;
}