@use "../../App" as app;

.img {
  width: 10%;
  height: 10%;
}

.car-list {
  list-style: none;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.car-item {
  width: calc(33.33% - 20px); /* Ajustez la largeur selon vos besoins */
  border: 1px solid #aa7d7d;
  background-color: app.$buttonColor;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-details {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.car-image {
  width: 80%;
  height: 50%;
  object-fit: fill;
  object-position: bottom;
}

.car-item h3 {
  margin: 0;
}

