@use 'src/App.scss' as app;

@media screen and (max-width: 768px) {
  .admin-container {
    min-height: calc(100vh - 230px);
    width: 100%;
    margin-bottom: 20px;
    margin-top: 120px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: aliceblue;
      border-radius: 8px;
      border: none;
      padding: 6px;
      background-color: app.$button-color;
      border-color: app.$button-color;
      cursor: pointer;
      svg {
        font-size: 5px;
        margin-left: 6px;
      }
    }
  }
  .admin-header {
    display: none;
  }

  .admin-main-container {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .admin-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
  }

  .admin-menu-item {
    min-height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
  }

  .admin-content-container {
    height: 100%;
    width: 90%;
    overflow-y: auto;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.27);
  }
}

@media screen and (min-width: 769px) {
  .admin-container {
    min-height: calc(100vh - 230px);
    width: 100%;
    margin-top: 130px;
    margin-bottom: 40px;
    button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: aliceblue;
      border-radius: 8px;
      border: none;
      padding: 6px;
      background-color: app.$button-color;
      border-color: app.$button-color;
      cursor: pointer;
      svg {
        margin-left: 6px;
      }
    }
  }

  .admin-header {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      height: 200px;
      width: 350px;
    }
  }

  .admin-main-container {
    height: 700px;
    width: calc(100% - 80px);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px 0px 40px;
  }

  .admin-menu {
    height: calc(100% - 20px);
    width: calc(400px - 20px);
    padding: 10px;
    background-color: app.$button-color;
    // color: app.$font-color-bar;
    display: flex;
    flex-direction: column;
  }

  .admin-menu-item {
    width: auto;
    width: 100%;
    margin-bottom: 12px;
    font-size: 18px;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
  }

  .admin-content-container {
    min-height: 80%;
    height: 100%;
    width: 80%;
    overflow-y: auto;
    margin-left: 20px;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.27);
  }
}

.table-container {
  height: 100%;
  width: 100%;
}

table {
  width: 100%;
}

th {
  background-color: app.$bar-color;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 1; 
}

td {
  height: 40px;
  max-width: 500px;
  text-align: center;
  font-weight: 100;
  background-color: #464e68;
  color: rgb(255, 255, 255);
  overflow-wrap: anywhere;
  cursor: pointer;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.admin-add-btn {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5px;
  border: none;
  background-color: app.$button-color;
}

.active {
  background-color: rgb(62, 108, 148);
  color: aliceblue;
}