@use "src/App" as app;

@media screen and (max-width: 768px) {
  .login-container {
    min-height: calc(100% - 440px);  
  }
}

@media screen and (min-width: 769px) {
  .login-container {
    margin-top: 120px;
    min-height: calc(100% - 340px);
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.login-form {
  background-color: app.$elementColor;
  width: 750px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 12px;
  margin: 10px;
  input {
    resize: none;
    height: auto;
    width: 60%;
    margin: 10px;
    padding: 8px;    
    border: none;
  }
}

.login-password-row, .login-email-row {
  height: auto;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
}

.login-password-text, .login-email-text  {
  width: 33%;
}

.login-password-input, .login-email-input  {
  width: 60%;
  display: inline-flex;
  justify-content: flex-end;
}

#login-password-input, #login-email-input  {
  width: 100%;
}