@use "../../App" as app;

// phone
@media screen and (max-width: 768px) {
  .nav-logo {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .nav-user {
    display: none;
  }

  .burger  {
    display: flex;
    background-color: bisque;
  }

  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #ffffff;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: aliceblue;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    width: 100%;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: app.$elementColor;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    display: flex;
    flex-direction: column;
    color: aliceblue;

  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    margin-bottom: 20px;
  }

  .bm-item::hover, .bm-item::focus {
    color: aliceblue;
  }
}

// large screen
@media screen and (min-width: 769px) {
  .my-nav {
    width: 100vw;
    height: 120px;
    background-color: app.$barColor;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1;
  }

  .nav-logo {
    width: 33.33%;
    display: flex; 
    align-items: center; 
    padding-left: 20px;
    img {
      width: 103px;
      height: 47px;
    }
  }
  .nav-links {
    width: 33.33%;
    display: flex; 
    justify-content: center;
    font-family: app.$mainFont;
    a {
      padding: 10px;
    }
  }
  .nav-user {
    width: calc(33.33% - 10px);
    display: flex; 
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
    p {
      margin: 0;
      padding: 0;
    }
  }
  
  .burger, Menu, .bm-menu, .bm-burger-button {
    display: none;
  }
}