@use "../../App" as app;

.my-nav {
  width: 100%;
  height: 10vh;
  background-color: app.$barColor;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.nav-logo {
  display: flex; 
  align-items: center; 
  padding-left: 20px;
  img {
    width: 103px;
    height: 47px;
  }
}

.links {
  display: flex; 
  justify-content: center;
  font-family: app.$mainFont;
  font-size: 24px;
}

.links a {
  padding-right: 10px;
}

.icon {
  padding-right: 20px;
}