@use "../../App" as app;

.logoNavbar {
  padding-left: 20px;
}
.myNav {
  height: 10vh;
  background-color: app.$barColor;
}

.links {
  color : app.$mainFontColor;
  font-family: app.$mainFont;
  font-variant: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}