@use "../../App" as app;

.logoNavbar {
  padding-left: 20px;
}
.myNav {
  width: 100%;
  height: 10vh;
  background-color: app.$barColor;
  top: 0;
  left: 0;
 
}

.links {
  font-family: app.$mainFont;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    padding-right: 10px;
  }
}