@use "src/App" as app;

.homeImg {
  width: 60%;  
}

.sectionContainer {
  height: 100vh;
  color: app.$mainFontColor;
  display: flex;
}

.leftSection {
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightSection {
  float: right;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceList {
  background-color: #373D51;
  padding: 0.5em;
  height: 80vh;
  font-size: 1.5em;
  border-radius: 12px;
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
  overflow-y: auto;
}

.lightSection {
  background-color: app.$elementColor;
}

.darkSection {
  background-color: inherit;
}

.serviceList8::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.serviceList::-webkit-scrollbar
{
	width: 10px;
	background-color: #484848;
}

.serviceList::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(59, 100, 182)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}