@use "../../App" as app;

@media screen and (min-width: 701px) {
  .horaire {
    font-size: 1em;
  }
  .logoFooter {
    width: 250px;
    height: 120px;
  } 
}

@media screen and (max-width: 700px) {
  .horaire {
    font-size: 0.5em;
  }
  .logoFooter {
    width: 100px;
    height: 60px;
  } 
}


li.footerListElement {
  list-style: none;
}

.myFooter {
  width: 100%;
  background-color: black;
  display: inline-flex;
}

.logoFooter {
  bottom: 0;
  right: 0;
}

.contactBtn {
  font-family: app.$mainFont;
  background-color: app.$barColor;
}



.horaires {
  width: 33%;
}

.navBtn {
  width: 33%;
}

.navLogo {
  width: 33%;
}