@use "../../App" as app;

@media screen and (min-width: 701px) {
  .horaire {
    font-size: 1em;
  }
  .logo-footer {
    width: 250px;
    height: 120px;
  } 
}

@media screen and (max-width: 700px) {
  .horaire {
    font-size: 0.5em;
  }
  .logo-footer {
    width: 100px;
    height: 60px;
  } 
}

li.footer-list-elt {
  list-style: none;
}

.my-footer {
  width: 100%;
  background-color: app.$barColor;
  display: inline-flex;
}

.logo-footer {
  bottom: 0;
  right: 0;
}

.contact-btn {
  font-family: app.$mainFont;
  background-color: app.$barColor;
}

.horaires {
  width: 33%;
}

.navBtn {
  width: 33%;
}

.navLogo {
  width: 33%;
}