$mainFont: 'Francois One', sans-serif;
$mainFontColor : aliceblue;
$backgroundColor: #141B33;
$barColor: #293045;
$elementColor: #20273D;
$buttonColor: #373D51;
$buttonHoverColor: #4D5371;
$inputColor: #3F4458;

// font sizes
$h1DesktopFontSize: 48px;
$h1MobileFontSize: 32px;
$h2DesktopFontSize: 24px;
$h2MobileFontSize: 18px;
$anchorDesktopFontSize: 20px;
$anchorMobileFontSize: 14px;
$buttonDesktopFontSize: 18px;
$buttonMobileFontSize: 12px;
$placeholderDesktopFontSize: 18px;
$placeholderMobileFontSize: 12px;
$labelDesktopFontSize: 24px;
$labelMobileFontSize: 16px;


@media screen and (max-width: 700px) {
  html, body, #root{
    font-size: 12px;
  }
  h1 {
    font-size: $h1MobileFontSize;
  }

  h2 {
    font-size: $h2MobileFontSize;
  }

  a {
    font-size: $anchorMobileFontSize;
  }

  button {
    font-size: $buttonMobileFontSize;
  }

  input::placeholder, textarea::placeholder {
    font-size: $placeholderMobileFontSize;
  }

  .home-button {
    height: 50px;
    width: 130px;
    border-radius: 12px;
    background-color: $buttonColor;
    color: $mainFontColor;
    border-color: $mainFontColor;
    font-family: $mainFont;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    a {
      text-decoration: none;
    }
  } 

  input {
    color: $mainFontColor;
    background-color: $inputColor;
    border-color: white;
    border-radius: 12px;
    font-size: 16px;
  }

  textarea {
    color: $mainFontColor;
    background-color: $inputColor;
    border-color: white;
    border-radius: 12px;
    font-size: 16px;
  }

  label {
    font-size: $labelMobileFontSize;
  }
}

// large screen
@media screen and (min-width: 701px) {

  h1 {
    font-size: $h1DesktopFontSize;
  }
  
  h2 {
    font-size: $h2DesktopFontSize;
  }

  a {
    font-size: $anchorDesktopFontSize;
  }

  button {
    font-size: $buttonDesktopFontSize;
  }

  input::placeholder, textarea::placeholder {
    font-size: $placeholderDesktopFontSize;
  }
  
  .home-button {
    height: 70px;
    width: 200px;
    border-radius: 12px;
    background-color: $buttonColor;
    color: $mainFontColor;
    border-color: $mainFontColor;
    font-family: $mainFont;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    a {
      text-decoration: none;
    }
  } 

  input {
    color: $mainFontColor;
    background-color: $inputColor;
    border-color: white;
    border-radius: 12px;
    font-size: 20px;
  }

  textarea {
    color: $mainFontColor;
    background-color: $inputColor;
    border-color: white;
    border-radius: 12px;
    font-size: 20px;
  }

  label {
    font-size: $labelDesktopFontSize;
  }
}


html, body, #root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: $mainFont;  
  color: $mainFontColor;
  background-color: $backgroundColor;
  position: absolute;
  overflow-x: hidden;
  a {
    color: $mainFontColor;
    text-decoration: none;
  }

}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
