$main-font: 'Francois One', sans-serif;
$main-font-color : aliceblue;
$background-color: #141B33;
$bar-color: #293045;
$element-color: #20273D;
$button-color: #373D51;
$button-hover-color: #4D5371;
$input-color: #3F4458;

// font sizes
$h1-desktop-font-size: 48px;
$h1-mobile-font-size: 32px;
$h2-desktop-font-size: 24px;
$h2-mobile-font-size: 18px;
$anchor-desktop-font-size: 20px;
$anchor-mobile-font-size: 14px;
$button-desktop-font-size: 18px;
$button-mobile-font-size: 12px;
$placeholder-desktop-font-size: 18px;
$placeholder-mobile-font-size: 12px;
$label-desktop-font-size: 24px;
$label-mobile-font-size: 16px;

// small screen
@media screen and (max-width: 768px) {
  html, body, #root{
    font-size: 12px;
  }
  h1 {
    font-size: $h1-mobile-font-size;
  }

  h2 {
    font-size: $h2-mobile-font-size;
  }

  a {
    font-size: $anchor-mobile-font-size;
  }

  button {
    font-size: $button-mobile-font-size;
  }

  input::placeholder, textarea::placeholder {
    font-size: $placeholder-mobile-font-size;
  }

  .home-button {
    height: 50px;
    width: 130px;
    border-radius: 8px;
    background-color: $button-color;
    color: $main-font-color;
    border-color: $main-font-color;
    font-family: $main-font;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    a {
      text-decoration: none;
    }
    svg {
      margin-left: 5px;
    }
  } 

  input {
    color: $main-font-color;
    background-color: $input-color;
    border-color: white;
    border-radius: 8px;
    font-size: 16px;
  }

  textarea {
    color: $main-font-color;
    background-color: $input-color;
    border-color: white;
    border-radius: 8px;
    font-size: 16px;
  }

  label {
    font-size: $label-mobile-font-size;
  }
  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9c9898;
    border-radius: 25px;
  }
}

// large screen
@media screen and (min-width: 769px) {

  h1 {
    font-size: $h1-desktop-font-size;
  }
  
  h2 {
    font-size: $h2-desktop-font-size;
  }

  a {
    font-size: $anchor-desktop-font-size;
  }

  button {
    font-size: $button-desktop-font-size;
  }

  input::placeholder, textarea::placeholder {
    font-size: $placeholder-desktop-font-size;
  }
  
  .home-button {
    height: 70px;
    width: 200px;
    border-radius: 8px;
    border: none;
    background-color: $button-color;
    color: $main-font-color;
    border-color: $main-font-color;
    font-family: $main-font;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    a {
      text-decoration: none;
    }
    svg {
      margin-left: 8px;
    }
  } 

  input {
    color: $main-font-color;
    background-color: $input-color;
    border-color: white;
    border-radius: 8px;
    font-size: 20px;
  }

  textarea {
    color: $main-font-color;
    background-color: $input-color;
    border-color: white;
    border-radius: 8px;
    font-size: 20px;
  }

  label {
    font-size: $label-desktop-font-size;
  }
  .ul-service {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    list-style-type: none;
  }
  li.li-service:not(:last-child) { 
    margin-bottom: 20px;  
 }
 ::-webkit-scrollbar {
  width: 8px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9c9898;
    border-radius: 25px;
  }
}

// all screens
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $main-font;  
  color: $main-font-color;
  background-color: $background-color;
  position: absolute;
  overflow-x: hidden;
  a {
    color: $main-font-color;
    text-decoration: none;
  }
  button {
    background-color: $button-color;
    border: none;
    color: $main-font-color;
  }
  button:hover {
    background: $button-hover-color;
    cursor: pointer;
  }
  input {
    background-color: $input-color;
  }


}

.center {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}