@use "src/App" as app;

.img {
  width: 10%;
  height: 10%;
}

.container {
  display: flex;
  height: 100%;
}

.section-sort {
  height: 100%;
  width: 20%;
  border-radius: 12px;
  background-color: app.$elementColor;
}

.section-car-list {
  height: 100%;
  width: 80%;
  display: flex;
}

.car-list {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

// .car-item {
//   height: 70vh;
//   width: 30%;
//   background-color: app.$elementColor;
//   border-radius: 5px;
//   padding: 10px;
//   display: block;
//   flex-direction: column;
// }

.car-details {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.car-image {
  width: 80%;
  height: 50%;
  object-fit: cover;
}

.car-item h3 {
  margin: 0;
}