@use "src/App.scss" as app;


@media screen and (max-width: 768px) {
  .car-page-container {
    min-height: calc(100% - 440px);
    margin-top: 120px;
    flex-direction: column;
    overflow-y: auto;
  }

  .left-side {
    width: 100vw;
    height: 40vh;
    display: flex;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 45vh;
    width: 100vw;
  }

  .car-price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 70px;
    font-size: 16px;
    background-color: app.$element-color;
    border-radius: 8px;
    margin-bottom: 5px;
  }
 
  .car-fiche { 
    h1, h2, p {
      padding: 7px;
    }
  }

  .car-item-main-image {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    user-select: none;
   
    .swiper {
      height: 100%;
      width: 100%;
    }
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .car-item-sub-images {
   display: none;
  }

}

@media screen and (min-width: 769px) {
  .car-page-container {
    min-height: calc(100% - 340px);
    margin-top: 120px;
    flex-direction: row;
  }
  
  .left-side {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .right-side {
    width: calc(60% - 10px);
    height: auto;
    padding-left: 10px;
    overflow-y: auto;
    .title {
      color: rgb(172, 172, 172);   
    }
  }

  .car-price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 70px;
    font-size: 24px;
    background-color: app.$element-color;
    border-radius: 8px;
  }

  .car-fiche {
    h1, h2, p {
      padding: 12px;
    }
  }

  .sub-image-container {
    width: 100%;
    height: calc(40% - 40px);
    background-color: app.$element-color;
  }

  .sub-image {
   width: 100%;
   height: 50%;
  }

  .cars-image {
    height: calc(100% - 20px);
    width: calc(33.33% - 20px);
    padding: 10px;
  }

  /******* IMAGES ********/
  .car-item-main-image {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    user-select: none;
    .swiper {
      height: 100%;
      width: 90%;
    }
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .car-item-sub-images {
    height: 300px;
    width: 100%;
    user-select: none;
    .swiper {
      height: 100%;
      width: 90%;
      padding: 0px 10px 0px 10px;
    }
    .swiper-slide {
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 1;
      opacity: 0.4;
      cursor: pointer;
    }
    .swiper-slide-active {
      transform: scale(1.1);
      opacity: 1;
    }
    img{
      width: 150px;
      height: 100%;
      object-fit: contain;
    }
  }
}

.car-fiche {
  height: auto;
  width: 90%;
  border-radius: 8px;
  background-color: app.$element-color;
}

.ref {
  text-decoration: underline;
}

.car-page-container {
  width: 100vw;
  display: flex;
}


.images-section {
  height: 100%;
  width: 100%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-image {
  width: 100%;
  height: 60%;
  object-fit: contain;
}

.cars-image {
  object-fit: contain;
}

.car-contact-container {
  display: flex;
  padding: 12px;
  button {
    margin-left: 12px;
  }
}