@use 'src/App.scss' as app;

.box {
  width: 60%;
  height: 70%;
  background-color: #293045;
  border-radius: 12px;
}

.inputBox {
  width: auto;
  height: 100%;
  border: none;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.inputRadio {
  width: auto;
  height: 100%;
  display: inline-flex;
  margin: 10px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #293045;
  color: white;
}

.inputName {
  margin: 10px;
  height: 5vh;
  width: 30vh;
}

.inputMessage {
  margin: 10px;
  height: 50px;
  width: 30vh;
}
