@use 'src/App.scss' as app;

.box {
  width: 60%;
  height: auto;
  background-color: #293045;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  form {
    width: 100%;
    height: 100%;
  }
  h2 {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
  }
}


.inputName, .inputMessage {
  height: 5vh;
  width: 60%;
}

.inputRadio {
  display: inline-flex;
}

.send-feedback-row {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rating {
  display: flex;
  margin-left: 10px;
  height: auto;
}

.star {
  display: inline-flex;
  align-items: center;
  margin-right: 3px;
  color: yellow;
}