@use 'src/App.scss' as app;

@media screen and (max-width: 768px) {
  .admin-popup-modal {
    select {
      width: 50%;
      background-color: app.$button-color;
      color: aliceblue;
    }
    input, textarea {
      width: 90%;
    }
    textarea {
      min-height: 70px;
    }
  }

  .generate-password {
    margin-top: 15px;
    width: 100px;
    height: 39px;
  }
}

@media screen and (min-width: 769px) {
  .admin-popup-modal {
    select {
      width: 30%;
      background-color: app.$button-color;
      color: aliceblue;
    }
    input, textarea {
      width: 90%;
    }
    textarea {
      min-height: 100px;
    }
    .generate-password {
      margin-top: 15px;
      width: 100px;
      height: 39px;
    }
  }
  .popup-overlay {
    margin-top: 120px;
    overflow-y: auto;
  }
}

.popup-content {
  width: 80%;
  padding: 2px;
  background-color: app.$element-color;
  border: none;
}

.admin-popup-modal {
  background-color: app.$element-color;
}

.admin-popup-modal > .header {
  width: calc(100% - 10px);
  border-bottom: 1px solid gray;
  text-align: center;
  padding: 5px;
}

.admin-popup-modal > .content {
  height: auto;
  width: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

.admin-popup-modal > .actions {
  width: calc(100% - 10px);
  padding: 10px 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.admin-popup-modal > .actions > button {
  background-color: app.$button-color;
  border: none;
  border-radius: 8px;
  padding: 5px;
  margin-left: 10px;
}

.admin-popup-modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 4px 9px;
  line-height: 20px;
  right: 10px;
  top: 10px;
  background-color: app.$button-color;
  border-radius: 8px;
  border: 1px solid #cfcece;
}


.add-popup-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: app.$button-color;
  border: none;
  color: aliceblue;
  width: 150px;
  height: 50px;
}

.image-input {
  display: flex;
  flex-direction: column;
}

.preview-image {
  width: 50%;
  height: 100%;
  object-fit: contain;
}

.generate-password {
  background-color: app.$button-color;
  border: none;
  border-radius: 8px;
}

.password-container {
  display: flex;
  flex-direction: column;
}