$mainFont: 'Francois One', sans-serif;
$mainFontColor : aliceblue;
$backgroundColor: #141B33;
$barColor: #293045;
$elementColor: #20273D;
$buttonColor: #373D51;
$buttonHoverColor: #4D5371;
$inputColor: #3F4458;


html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  background-color: $backgroundColor;

}

.firstSection {
  height: 90vh;
  line-height: 10;
  border: 2px solid rgb(255, 0, 0);
  padding: 1.5em;
  background-color: $backgroundColor;
  color: aliceblue;
}


.centered {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.hCenter {
  display: flex;
  justify-content: center
}

.vCenter {
  display: flex;
  align-items: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}