$mainFont: 'Francois One', sans-serif;
$mainFontColor : aliceblue;
$backgroundColor: #141B33;
$barColor: #293045;
$elementColor: #20273D;
$buttonColor: #373D51;
$buttonHoverColor: #4D5371;
$inputColor: #3F4458;

html, body, #root {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  color: $mainFontColor;
  background-color: $backgroundColor;
  position: absolute;
  a {
    color: $mainFontColor;
    text-decoration: none;
  }
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  input {
    color: $mainFontColor;
    background-color: $inputColor;
    border-color: white;
    border-radius: 12px;
    font-size: 20px;
  }

  .home-button {
    height: 70px;
    width: 200px;
    border-radius: 12px;
    font-size: 18px;
    background-color: $buttonColor;
    color: $mainFontColor;
    border-color: $mainFontColor;
    font-family: $mainFont;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
  
}


.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
