.FeedbackList {
  height: auto;
  width: 20vw;
  background-color: #293045;
  color: white;
  border-radius: 12px;

  .FeedbackListName {
  }
  .FeedbackListText {
  }
  
  .FeedbackListRating {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: yellow;
  }
}
