@use "../../App" as app;

.admin-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  overflow-y: hidden;
}

.admin-bar {
  width: 100%;
  height: 10vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 15px;

}

.admin-bar-button {
  height: 80%;
  width: 20vh;

  display: flex;
  padding: 10px;
  margin-left: 6px;

  font-size: 24px;
  font-family: app.$mainFont;
  color: aliceblue;

  align-items: center;
  justify-content: center;
  
 

  background: app.$buttonColor;
  border-width: 3px 3px 0px 3px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 12px 12px 0px 0px;
 
}

.admin-section-container {
  width: 100%;
  height: 100%;
  margin-top: 25vh;
  background-color: app.$backgroundColor;
  color: aliceblue;
  overflow-y: auto;
  
  button {
    color: aliceblue;
    border-radius: 12px;
    background-color: app.$buttonColor;
    border-color: app.$buttonColor;
  }
}

.permission-box {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-left: 5%;
  background-color: rgb(72, 16, 202);
}